html{
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 16px;
}

/* ESTRUCTURA */

.div-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #00006611;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 20px;
}

.main {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
}

.aside {
  width: 25%;
  height: 100%;
  background-color: #fff;
  border-radius: 25px;
}

/* HEADER */

header {
  height: 10%;
  padding: 5px;
  justify-content: left;
  box-sizing: border-box;
}

.header-logo {
  object-fit: contain;
}

/* TEXT-AREA */

.div-input {
  width: 60%;
  height: 60%;
  padding: 10px;

  align-self: center;
}

.text-area {
  padding: 15px;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border-radius: 20px;

  color: darkblue;
  font-family: "Inter";
  font-weight: bold;
  font-size: large;
}

.text-area:focus {
  background: linear-gradient(to bottom, transparent, #ccf);
  outline: none;
}

.text-area::placeholder {
  color: darkblue;
}

/* BOTONES */

.div-botones {
  height: 15%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;

  display: flex;
  flex-direction: column;

}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  padding: 0 0 10px 10%;
  
}


.div-convertir{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn-enc {
  font-family: "Inter";
  padding: 15px 0; 
  width: 35%;
  border: solid 1px #037;
  background-color: #037;
  color: #fff;
  border-radius: 10px;
}

.btn-des {
  font-family: "Inter";
  padding: 15px 0; 
  width: 35%;
  border: solid 1px #037;
  background-color: #ccc;
  color: darkblue;
  border-radius: 10px;
}



footer {
  height: 5%;
  margin: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

/* ASIDE */

.div-resultado {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;

  display: flex; /* MODIFICAR A FLEX O NONE*/
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img {
  width: 100%;
  box-sizing: border-box;
}

.p-ningun {
  color: #333;
  font-family: "Inter";
  font-weight: bolder;
  font-size: large;
  text-align: center;
}

.p-ingrese {
  color: #444;
  font-family: "Inter";

  font-size: 15px;
  text-align: center;
}

/* ASIDE 2 */

.div-resultado-2 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;

  display: none; /* MODIFICAR A FLEX O NONE*/
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.p-traducido {
  width: 100%;
  height: auto;

  color: #555;
  font-family: "Inter";
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.btn-copiar {
  font-family: "Inter";
  width: 90%;
  height: 50px;
  border: solid 1px darkblue;
  background-color: #fff;
  color: #037;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  /* ESTRUCTURA */
  
  *{
    box-sizing: border-box;
  }

  footer {
    display: none;
  }

  .div-container {
    width: 100%;
    height: 100%;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
  }

  
  .aside {
    width: 100%;
    
  }

  /* HEADER */
  header {
    width: 100%;
    height: fit-content;
  }

  .header-logo {
    height: 2em;
  }

  /* TEXT-AREA */

  .div-input{
    width: 100%;
    
  }

    
  .text-area {
    width: 100%;
    height: 40vh;
  }


  /* BOTONES */
  .div-botones{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .label{
    font-size: 0.8rem;
    padding: 0;
  }

  .div-convertir {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .div-convertir > button {
    width: 40vw;
  }

  /* ASIDE */

  .img{
    display: none;
  }
  .div-resultado {
    display: flex;
    flex-direction: column;
    
  }

  .div-resultado-2 {
    display: none;
    flex-direction: column;

  }

  .div-resultado > p{
    font-size: 0.8rem;
  }

  .div-resultado-2 > p{
    font-size: 0.8rem;
  }
}
